.intro__background {
    background: url("../../img/intro-bg.jpg") 0 0 no-repeat #000;
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: relative;
}

.intro__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .6;
}

.intro__animation {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    position: absolute;
}

.center {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.animation__block {
    display: inline-block;
    vertical-align: middle;
    animation: scale 1s;
}

@keyframes scale {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }

    55% {
        transform: scale(.95);        
    }

    70% {
        transform: scale(1);        
    }

    85% {
        transform: scale(.95);        
    }

    100% {
        transform: scale(1);                
    }
}

.animation__picture {
    margin-bottom: 40px;
}

.animation__img {
    width: 160px;
    height: 193px;
}

.animation__btn {
    text-align: center;
    width: 172px;
    height: 45px;
    background-color: #f89513;
    border-radius: 3px;
}

.btn__text {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}

.animation__btn:hover {
    background-color: #000;
}